*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    font-weight: 700;
    text-transform: uppercase;
    height: 100px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.footer{
    font-weight: 700;
    text-transform: uppercase;
    height: 100px;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}